.all{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex-direction: column;
}
h1{
    color:white;
}
.buttons-cotainer{
display: flex;
justify-content: space-between;
}
.button{
    background-color: #c4e0d2;
    border: none;
    color: #093b1d;
    float: left;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.button:hover{
    background-color: #6b3636;
    color: #c6a2a2;
}

